[run]
source = ase

# We would write the 'omit' section in the run section.
# But pytest-cov forgets that when generating report.
# So we write those paths in the report section instead.

[report]
precision = 2
omit =
    # We don't include the unittests since that's "cheating":
    ./*

    # Tools for releases and web page are not production code:
    ../utils/sphinx.py
    ../utils/build_web_page.py
    ../utils/newrelease.py

    # The "optimizer tests" are used to generate part of GPAW's web page
    # but we don't really consider it production code.
    # Since we don't plan to test it as such, we exclude it from the listing.
    ../optimize/test/*.py


[html]
directory = coverage-html
