# The .mailmap file is used to unify distinct names and mail address of
# committers as a single committer.
#
# Often the same committer has multiple aliases in commit history 
# because of inconsistent configuration or changing university e-mail 
# addresses; for the University giveth, and the University taketh away.
#
# If you can read this, consider updating your aliases below so you are 
# listed by "git shortlog -se" only once and with your real name and 
# working e-mail address.
#
# Example:
#
#   Name Lastname <email@example.com> Othername <oldemail@example.com>
#
# This specifies that commits under Othername <oldemail@example.com> should
# be listed as Name Lastname <email@example.com> instead.

Adam Arvidsson <adamar@chalmers.se>
Adam Fekete <adam@fekete.co.uk> Adam Fekete <adam.fekete@kcl.ac.uk>
Adam J. Jackson <a.j.jackson@physics.org> Adam J. Jackson <a.j.jackson@bath.ac.uk>
Adam J. Jackson <a.j.jackson@physics.org> Adam Jackson <a.j.jackson@physics.org>
Alejandro Pérez Paz <alejandroperezpaz@yahoo.com>
Alexander Tygesen <atygesen@outlook.dk> Alexander Sougaard Tygesen <atygesen@hotmail.com>
Alexander Tygesen <atygesen@outlook.dk> Alexander Tygesen <atygesen@hotmail.com>
Alexander Tygesen <atygesen@outlook.dk> Alexander <atygesen@hotmail.com>
Alin M Elena <alin@elena.space>
Amarjit Singh <a.singh.2313@gmail.com> A Singh <a.singh.2313@gmail.com>
Andrew Logsdail <andrewlogsdail@hotmail.com> logsdail <andrewlogsdail@hotmail.com>
Andrew Peterson <andrew_peterson@brown.edu> Andrew Peterson <Andrew Peterson andrew_peterson@brown.edu>
Andrew Peterson <andrew_peterson@brown.edu> anpet <anpet@5af997e4-4c3d-0410-961e-ac0512e437d9>
Andrew Rosen <rosen@u.northwestern.edu>
Andrey Sobolev <andrey.n.sobolev@gmail.com>
anro <anro@5af997e4-4c3d-0410-961e-ac0512e437d9>
Antoni Macià <antoni.macia@ub.edu>
Anubhab Haldar <jinxhaldar@gmail.com>
Ask Hjorth Larsen <asklarsen@gmail.com> askhl <askhl@5af997e4-4c3d-0410-961e-ac0512e437d9>
Asmus Ougaard Dohn <asmus.od@gmail.com> Asmus O. Dohn <asod@hi.is>
Asmus Ougaard Dohn <asmus.od@gmail.com> Asmus <asmus.od@gmail.com>
Asmus Ougaard Dohn <asmus.od@gmail.com> Asmus O. Dohn <asmus.od@gmail.com>
Asmus Ougaard Dohn <asmus.od@gmail.com> Asmus O Dohn <asod@hi.is>

Ben Blaiszik <blaiszik@uchicago.edu>
Bismarrck <Bismarrck@me.com>
Jonas Bjork <J.Bjork@liverpool.ac.uk> bjork <bjork@5af997e4-4c3d-0410-961e-ac0512e437d9>
Pedro Brandimarte <brandimarte@gmail.com> brandimarte <brandimarte@gmail.com>
Brandon Cook <brandongc@gmail.com>

Carsten Rostgaard <?> carstenr <carstenr@5af997e4-4c3d-0410-961e-ac0512e437d9>
chripa <chripa@5af997e4-4c3d-0410-961e-ac0512e437d9>
Christian Glinsvad <?> s032082 <s032082@5af997e4-4c3d-0410-961e-ac0512e437d9>
Christoph Schober <christoph.schober@ch.tum.de> Christoph <christoph.schober@ch.tum.de>

Daniele Selli <d.85.sello@gmail.com>  dselli <d.85.sello@gmail.com>
Daniele Selli <d.85.sello@gmail.com>  Dselli <dselli@laser2.mater.unimib.it>
Daniel S. Karls <dskpersistent@gmail.com> dskarls <dskpersistent@gmail.com>
Daniel S. Karls <dskpersistent@gmail.com> dskarls <karl0100@umn.edu>
David Kleiven <david.kleiven@ntnu.no> David Kleiven <davidkleiven446@gmail.com>
David Landis <?> dlandis <dlandis@5af997e4-4c3d-0410-961e-ac0512e437d9>
David Ollodart <davidollodart@gmail.com> david <davidollodart@gmail.com>
Marcin Dułak <Marcin.Dulak@gmail.com> Marcin Dulak <Marcin.Dulak@gmail.com>
Marcin Dułak <Marcin.Dulak@gmail.com> dulak <dulak@5af997e4-4c3d-0410-961e-ac0512e437d9>
Marcin Dułak <Marcin.Dulak@gmail.com> dulak <dulak@337befb3-7485-0410-a06f-dd7acf69a9d1>

Edward Tait <ewt23@cam.ac.uk>
Eisuke Kawashima <2618741-e-kwsm@users.noreply.gitlab.com> E Kawashima <2618741-e-kwsm@users.noreply.gitlab.com>
Emmanuel Farhi <farhi@ill.fr> Emmanuel FARHI <farhi@ill.fr>
Enrique Zanardi Maffiotte <ezanardi@ull.edu.es> Enrique Zanardi <ezanardi@scheelita.ull.es>
Eric Hermes <erichermes@gmail.com> ehermes <ehermes@5af997e4-4c3d-0410-961e-ac0512e437d9>
Eric Hermes <erichermes@gmail.com> Eric hermes <ehermes@wisc.edu>
Eric Hermes <erichermes@gmail.com> Eric Hermes <ehermes@wisc.edu>
Eric Hermes <erichermes@gmail.com> ehermes <ehermes@wisc.edu>
Eric Hermes <erichermes@gmail.com> Eric Hermes <ehermes@sandia.gov>
Eric Dill <edill@bnl.gov>
Eric Prestat <eric.prestat@gmail.com>
Erik Fransson <karl.erik.fransson@gmail.com>
Esben Leonhard Kolsbjerg <esb@phys.au.dk> Esben Leonhard Kolsbjerg <esb@s81n11.grendel.cscaa.dk>
Esben Leonhard Kolsbjerg <esb@phys.au.dk> Esben Leonhard Kolsbjerg <esb@st-d05496.local>
Estefanía Garijo del Río <egarijo@fysik.dtu.dk> Estefania Garijo del Rio <egarijo@fysik.dtu.dk>
Estefanía Garijo del Río <egarijo@fysik.dtu.dk> egarijo <egarijo@curie.fysik.dtu.dk>

Felix Hanke <?> hanke <hanke@5af997e4-4c3d-0410-961e-ac0512e437d9>
Felix Tim Bölle <felixtim.boelle@gmail.com> FelixBoelle <felixtim.boelle@gmail.com>
Felix Tim Bölle <felixtim.boelle@gmail.com> Feltbo <felixtim.boelle@gmail.com>
Florian Knoop <florian_knoop@gmx.de> Florian Knoop (DRACO) <knoop@fhi-berlin.mpg.de>
Florian Knoop <florian_knoop@gmx.de> Florian Knoop <knoop@fhi-berlin.mpg.de>
fras <fras@5af997e4-4c3d-0410-961e-ac0512e437d9>

Gaël Donval <gdonval+gitlab@gmail.com> Gaël Donval <gitlab.com@umessage.me>
George Tritsaris <?> getri <getri@5af997e4-4c3d-0410-961e-ac0512e437d9>
Geun Ho Gu <ggu@login000.(none)>
Gianluca Fazio <gianlu6022@gmail.com> gianlu6022 <gianlu6022@gmail.com>
Gianluca Levi <giale@kemi.dtu.dk> giale <gianl.levi@gmail.com>
GitLab <gitlab@gitlab.com>
Giuseppe Barbalinardo <giuseppe.barbalinardo@gmail.com> Giuseppe <giuseppe.barbalinardo@gmail.com>
Giuseppe Barbalinardo <giuseppe.barbalinardo@gmail.com> Giuseppe Barbalinardo <gbarbalinardo@ucdavis.edu>
Glen R. Jenness <glenjenness@gmail.com> Glen Richard Jenness <gjenness@login000.(none)>
Glen R. Jenness <glenjenness@gmail.com> gjenness <gjenness@5af997e4-4c3d-0410-961e-ac0512e437d9>
googhgoo <googhgoo@hotmail.com>
Graham Inggs <graham@nerve.org.za> Graham Inggs <graham.inggs+gitlab@gmail.com>
Graham Inggs <graham@nerve.org.za> Graham Inggs <ginggs@debian.org>
Grigory Smirnov <grsmirnov@gmail.com>

Heine Anton Hansen <?> hahansen <hahansen@5af997e4-4c3d-0410-961e-ac0512e437d9>
Hyeonsu Kim <kim1231232@kaist.ac.kr> KimHyeonsu <kim1231232@kaist.ac.kr>
Hong Li <hongli520@gmail.com>

Igor Mosyagin <@Hannelore c6h10o5@gmail.com>
ithod <thod_@gmx.de>
Ivan Kondov <ivan.kondov@kit.edu>
Ivano Castelli <ivano@chem.ku.dk>

Jacob Madsen <jamad@fysik.dtu.dk>
Jakob Blomquist <knjakob.blomquist@gmail.com> jakobb <jakobb@5af997e4-4c3d-0410-961e-ac0512e437d9>
Jakob Blomquist <knjakob.blomquist@gmail.com> knjakob-blomquist <knjakob.blomquist@gmail.com>
Jacob Russell Boes <jacobboes@gmail.com> Jacob Boes <jacobboes@gmail.com>
Jakob Schiotz <schiotz@fysik.dtu.dk> schiotz <schiotz@5af997e4-4c3d-0410-961e-ac0512e437d9>
James Kermode <james.kermode@gmail.com> kermode <kermode@5af997e4-4c3d-0410-961e-ac0512e437d9>
Jeppe Gavnholt <?> gavnholt <gavnholt@5af997e4-4c3d-0410-961e-ac0512e437d9>
Jonas Amsler <jonas.amsler@kit.edu> jonas.amsler <jonas.amsler@kit.edu>
Jonas Amsler <jonas.amsler@kit.edu> jamsler <5144672-jamsler@users.noreply.gitlab.com>
jber <jber@5af997e4-4c3d-0410-961e-ac0512e437d9>
Janne Blomqvist <?> jblomqvist <jblomqvist@5af997e4-4c3d-0410-961e-ac0512e437d9>
Jens Jørgen Mortensen <jensj@fysik.dtu.dk> jensj <jensj@5af997e4-4c3d-0410-961e-ac0512e437d9>
Jens Jørgen Mortensen <jensj@fysik.dtu.dk> Jens Jørgen Mortensen <jensj@jordan.fysik.dtu.dk>
Jens Jørgen Mortensen <jensj@fysik.dtu.dk> Jens Jorgen Mortensen <jensj@surt.fysik.dtu.dk>
Jens Jørgen Mortensen <jensj@fysik.dtu.dk> Jens Jørgen Mortensen <jjmo@dtu.dk>
Jens Jørgen Mortensen <jensj@fysik.dtu.dk> Jens Jørgen Mortensen <jj@smoerhul.dk>
Jesper Friis <jesper.friis@sintef.no> jesperf <jesperf@5af997e4-4c3d-0410-961e-ac0512e437d9>
Jess Wellendorff <?> jesswe <jesswe@5af997e4-4c3d-0410-961e-ac0512e437d9>
Jakob Gath <jag@psibox.dk> jg <jag@psibox.dk>
Jin Chang <jchang@dtu.dk>
Jingzhe Chen <?> jingzhe <jingzhe@5af997e4-4c3d-0410-961e-ac0512e437d9>
Joakim Löfgren <joalof@chalmers.se> joalof <joalof@chalmers.se>
Johanna Sanchez <ellaquimica@gmail.com>
Johannes Laurin Hörmann <johannes.hoermann@imtek.uni-freiburg.de> Johannes Hörmann <johannes.hoermann@imtek.uni-freiburg.de>
John Kitchin <jkitchin@andrew.cmu.edu> jk7683@kit.edu <jk7683@uc1n996.localdomain>
John Kitchin <jkitchin@andrew.cmu.edu> jk7683@kit.edu <jk7683@uc1n997.localdomain>
John Kitchin <jkitchin@andrew.cmu.edu> jkitchin <jkitchin@5af997e4-4c3d-0410-961e-ac0512e437d9>
John Kitchin <jkitchin@andrew.cmu.edu> John Kitchin <jkitchin@cmu.edu>
Joseba Alberdi <j.alberdi@simuneatomistics.com> Joseba <joseba.alberdi@ehu.eus>
Joshua Lansford <lansford.jl@gmail.com> Joshua Lansford <Joshua Lansford>
Joshua Lansford <lansford.jl@gmail.com> JLans <lansford.jl@gmail.com>
Juan M. Lorenzi <jmlorenzi@gmail.com>
Jussi Enkovaara <jussi.enkovaara@csc.fi> jussie <jussie@5af997e4-4c3d-0410-961e-ac0512e437d9>
Jun Yan <?> juya <juya@5af997e4-4c3d-0410-961e-ac0512e437d9>
Keenan Lyon <klyon@uwaterloo.ca>

Kirsten Winther <winther@stanford.edu> kirstenwinther <winther@stanford.edu>
Kristen Kaasbjerg <kkaa@nanotech.dtu.dk> kkaa <kkaa@5af997e4-4c3d-0410-961e-ac0512e437d9>
Jesper Kleis <?> kleis <kleis@5af997e4-4c3d-0410-961e-ac0512e437d9>
Korina Kuhar <kokuha@fysik.dtu.dk>
krbt <krbt@5af997e4-4c3d-0410-961e-ac0512e437d9>
Karsten Wedel Jacobsen <kwj@fysik.dtu.dk> kwj <kwj@5af997e4-4c3d-0410-961e-ac0512e437d9>

Lars Grabow <?> grabow <grabow@5af997e4-4c3d-0410-961e-ac0512e437d9>
Lars Pastewka <lars.pastewka@imtek.uni-freiburg.de> Lars Pastewka <lars.pastewka@kit.edu>
Lars Pastewka <lars.pastewka@imtek.uni-freiburg.de> pastewka <pastewka@5af997e4-4c3d-0410-961e-ac0512e437d9>
Lasse Vilhelmsen <?> lassebv <lassebv@5af997e4-4c3d-0410-961e-ac0512e437d9>
Leon Avakyan <laavakyan@sfedu.ru>
Letif Mones <letif.mones@gmail.com>
Logan Ward <ward.logan.t@gmail.com>
Lukasz Mentel <lmmentel@gmail.com>
Lynza Sprowl <lynza.sprowl@gmail.com> Lynza Halberstadt <halbersl@oregonstate.edu>

Maarten Van de Put <vandeput.maarten@gmail.com> Maarten Van de Put <mvandeput@cometnet-10-21-36-185.utdallas.edu>
Mads Engelund <mads.engelund@espeem.com> Mads Engelund <mads_engelund001@ehu.es>
Mads Engelund <mads.engelund@espeem.com> mads.engelund <mads.engelund@5af997e4-4c3d-0410-961e-ac0512e437d9>
Magnus Nord <Magnus.Nord@glasgow.ac.uk> Magnus Nord <magnunor@gmail.com>
Maja Lenz <lenz@fhi-berlin.mpg.de> Maja-Olivia Lenz <lenz@fhi-berlin.mpg.de>
Marc Barbry <marc.barbarosa@gmail.com> marc barbry <marc.barbarosa@gmail.com>
Marc Barbry <marc.barbarosa@gmail.com> marc barbry <marc.barbry@mailoo.org>
Marc Barbry <marc.barbarosa@gmail.com> Marc Barbry <marc@simbeyond.com>
Marc Barbry <marc.barbarosa@gmail.com> marc <marc.barbry@mailoo.org>
Marcel Langer <me@sirmarcel.com> Marcel <gitlab@sirmarcel.com>
Marco Vanin <?> mvanin <mvanin@5af997e4-4c3d-0410-961e-ac0512e437d9>
Marko Melander <marmela@dtu.dk>
Markus Kaukonen <markus.kaukonen@iki.fi> paapu68 <markus.kaukonen@iki.fi>
Markus Kaukonen <markus.kaukonen@iki.fi> markus <markus@5af997e4-4c3d-0410-961e-ac0512e437d9>
Martin Hangaard Hansen <?> mhah <mhah@5af997e4-4c3d-0410-961e-ac0512e437d9>
Martin Hangaard Hansen <?> mhangaard <mhangaard@gmail.com>
Martin Hangaard Hansen <?> Martin Hangaard Hansen <mhah@surt.fysik.dtu.dk>
Mathias Ljungberg <mathias.ljungberg@gmail.com> Mathias Ljungberg <mathias@captiveportal-10-100-14-106.local.su.se>
Mathias Ljungberg <mathias.ljungberg@gmail.com> Mathias Ljungberg <mathias@captiveportal-10-100-17-25.local.su.se>
Mathias Ljungberg <mathias.ljungberg@gmail.com> mathiasljungberg <mathias.ljungberg@gmail.com>
Mathias Ljungberg <mathias.ljungberg@gmail.com> Mathias Ljungberg <mathias@Mathiass-MacBook-Pro.local>
Mathias Ljungberg <mathias.ljungberg@gmail.com> Mathias Ljungberg <mathias@u020031.sw.ehu.es>
Mathias Ljungberg <mathias.ljungberg@gmail.com> Mathias <mathias.ljungberg@gmail.com>
Matthias Slabanja <?> slabanja <slabanja@5af997e4-4c3d-0410-961e-ac0512e437d9>
Maxime van den Bossche <maxime.cp.vandenbossche@gmail.com> mvdb <maxime.cp.vandenbossche@gmail.com>
Maxime van den Bossche <maxime.cp.vandenbossche@gmail.com> mvdb <maxime.vandenbossche@gmail.com>
Maxime van den Bossche <maxime.cp.vandenbossche@gmail.com> Maxime Van den Bossche <bossche@glenn.int.private>
Maxime van den Bossche <maxime.cp.vandenbossche@gmail.com> Maxime Van den Bossche <bossche@hebbe.int.private>
Maxime van den Bossche <maxime.cp.vandenbossche@gmail.com> Maxime Van den Bossche <maxime.cp.vandenbossche@gmail.com>
Michael J. Waters <michael.j.waters@northwestern.edu> Michael Waters <michael.j.waters@northwestern.edu>
Michael J. Waters <michael.j.waters@northwestern.edu> Michael Waters <mjwaters@umich.edu>
Michael J. Waters <michael.j.waters@northwestern.edu> MikeJWaters <michael.j.waters@northwestern.edu>
Michael Walter <Michael.Walter@fmf.uni-freiburg.de> Michael Walter <mcoywalter@gmail.com>
Michael Walter <Michael.Walter@fmf.uni-freiburg.de> Michael Walter <@ PC-L192 mcoywalter@gmail.com>
Michael Walter <Michael.Walter@fmf.uni-freiburg.de> miwalter <miwalter@5af997e4-4c3d-0410-961e-ac0512e437d9>
Michael Walter <Michael.Walter@fmf.uni-freiburg.de> MW <mcoywalter@gmail.com>
Michael Walter <Michael.Walter@fmf.uni-freiburg.de> Michael Linux IWM <mcoywalter@gmail.com>
Michael Walter <Michael.Walter@fmf.uni-freiburg.de> Michael Walter <Michael.Walter@fmf.uni-freiburg.de>
Michael Walter <Michael.Walter@fmf.uni-freiburg.de> Michael Walter @ PC-L192 <mcoywalter@gmail.com>
Miguel Caro <mcaroba@gmail.com>
Mikael Kuisma <mikael.j.kuisma@jyu.fi>
Mikkel Strange <mikst@fysik.dtu.dk> Mikkel Strange <strange@chem.ku.dk>
Mikkel Strange <mikst@fysik.dtu.dk> Strange, Mikkel (smikk) <mikst@fysik.dtu.dk>
Mikkel Strange <mikst@fysik.dtu.dk> strange <strange@5af997e4-4c3d-0410-961e-ac0512e437d9>
mohpa <mohpa@5af997e4-4c3d-0410-961e-ac0512e437d9>
Morten Gjerding <mortengjerding@gmail.com> Morten Gjerding <mogje@fysik.dtu.dk>
Morten Gjerding <mortengjerding@gmail.com> mogje <mogje@5af997e4-4c3d-0410-961e-ac0512e437d9>
Morten Gjerding <mortengjerding@gmail.com> mortengjerding <mogje@fysik.dtu.dk>
Morten Nagel <Morten.Nagel@gmx.de> Morten Nagel <morten.nagel@helsinki.fi>
Morten Nagel <Morten.Nagel@gmx.de> "Morten Nagel ext:(%22) <Morten.Nagel@gmx.de>
Morten Nagel <Morten.Nagel@gmx.de> "Morten Nagel ext:(%22) <morten.nagel@helsinki.fi>

Nicki Frank Hinsche <nickih@surt.fysik.dtu.dk>
Noam Bernstein <noam.bernstein@nrl.navy.mil> Noam Bernstein <bernstei@magnesium.lan>
Noam Bernstein <noam.bernstein@nrl.navy.mil> Noam Bernstein <bernstei@tin.(none)>
Noam Bernstein <noam.bernstein@nrl.navy.mil> Noam Bernstein <noamb@excalibur07.arl.hpc.mil>
Noam Bernstein <noam.bernstein@nrl.navy.mil> Noam Bernstein <noamb@r22i0n4.ice-x.afrl.hpc.mil>
Noam Bernstein <noam.bernstein@nrl.navy.mil> Noam Bernstein <noamb@thunder02.ib0.ice-x.afrl.hpc.mil>
Noam Bernstein <noam.bernstein@nrl.navy.mil> Noam Bernstein <noamb@thunder02.ice-x.afrl.hpc.mil>
Noam Bernstein <noam.bernstein@nrl.navy.mil> Noam Bernstein <noamb@thunder03.ice-x.afrl.hpc.mil>
Noam Bernstein <noam.bernstein@nrl.navy.mil> Noam Bernstein <noamb@thunder07.ib0.ice-x.afrl.hpc.mil>
Noam Bernstein <noam.bernstein@nrl.navy.mil> Noam Bernstein <noamb@thunder07.ice-x.afrl.hpc.mil>

Ole Schütt <oleschuett@google.com> Ole Schuett <oleschuett@google.com>
Ole Schütt <oleschuett@google.com> Ole Schuett <ole.schuett@empa.ch>
Ole Schütt <oleschuett@google.com> Ole Schütt <oschuett@cp2k.org>
Ole Schütt <oleschuett@google.com> oschuett <oschuett@5af997e4-4c3d-0410-961e-ac0512e437d9>
Ole Schütt <oleschuett@google.com> Ole Schütt <ole.schuett@empa.ch>
Oliver Brügner <oliver-bruegner@web.de>
Otto Kohulák <pravod@gmail.com> addman <pravod@gmail.com> addman <addman@Bobor>
Otto Kohulák <pravod@gmail.com> addman <pravod@gmail.com> addman <addman@X201>
Otto Kohulák <pravod@gmail.com> Otto Kohulak <kohulak@Maxwell00> 

Patrick Melix <patrick.melix@uni-leipzig.de> Patrick Melix <gitlab@melix.me>
Pavel V. Stishenko <mazay0@gmail.com> mazay <mazay@mzh>
Pavel V. Stishenko <mazay0@gmail.com> Mazay <mazay0@gmail.com>
Pavel V. Stishenko <mazay0@gmail.com> pvst <mazay0@gmail.com>
Pavel V. Stishenko <mazay0@gmail.com> pvst <pvst@localhost.localdomain>
Pavel V. Stishenko <mazay0@gmail.com> pvstishenko <pavelstishenko@yandex.ru>
Pavel V. Stishenko <mazay0@gmail.com> pvst <pvst@localhost.localdomain>
Paul C. Jennings <jennings.p.c@gmail.com> Paul C. Jennings <pcje@surt.fysik.dtu.dk>
Paul Erhart <erhart@chalmers.se>
Paweł T. Jochym <pawel.jochym@ifj.edu.pl> Paweł T. Jochym <jochym@wolf.ifj.edu.pl>
Paweł T. Jochym <pawel.jochym@ifj.edu.pl> Pawel T. Jochym <pawel.jochym@ifj.edu.pl>
Pedro Brandimarte <brandimarte@gmail.com>
Per Lindgren <per_lindgren@brown.edu> Per Lindgren <PerLindgren@macbook-pro-5.devices.brown.edu>
Per S. Schmidt <psisc@fysik.dtu.dk> psisc <psisc@5af997e4-4c3d-0410-961e-ac0512e437d9>
Peter Koval <koval.peter@gmail.com> Peter KOVAL <koval.peter@gmail.com>
Peter Koval <koval.peter@gmail.com> Petr Koval <koval.peter@gmail.com>
Peter Koval <koval.peter@gmail.com> kovalp <koval.peter@gmail.com>
Peter Mahler Larsen <peter.mahler.larsen@gmail.com> Peter Larsen <peter.mahler.larsen@gmail.com>
Peter Mahler Larsen <peter.mahler.larsen@gmail.com> Peter Larsen <pmla@fysik.dtu.dk>
Peter Mahler Larsen <peter.mahler.larsen@gmail.com> pmla <pete.mahler.larsen@gmail.com>
Peter Mahler Larsen <peter.mahler.larsen@gmail.com> pmla <peter.mahler.larsen@gmail.com>
Poul Georg Moses <?> moses <moses@5af997e4-4c3d-0410-961e-ac0512e437d9>
prtkm <prateekm@cmu.edu>

Ralf Meyer <meyer.ralf@yahoo.com> Ralf Meyer <ralf.meyer@tugraz.at>
Rasmus K <shandolad@gmail.com>
refreshx2 <jjmaldonis@gmail.com>
Robert Warmbier <rwarmbier@uj.ac.za> Robert Warmbier <Robert.Warmbier@wits.ac.za>
Robert Warmbier <rwarmbier@uj.ac.za> rowue <rowue@5af997e4-4c3d-0410-961e-ac0512e437d9>
Robert Warmbier <rwarmbier@uj.ac.za> rbw <rwarmbier@uj.ac.za>

s042606 <s042606@5af997e4-4c3d-0410-961e-ac0512e437d9>
s052580 <s052580@5af997e4-4c3d-0410-961e-ac0512e437d9>
Santiago Cingolani <santiago.cingolani@gmail.com>
schenks  t <schenkst@5af997e4-4c3d-0410-961e-ac0512e437d9>
Shim JaeHwan <schinavro@gmail.com> SJH <schinavro@gmail.com>
Shim JaeHwan <schinavro@gmail.com> SJH <schinavro@SJHui-MacBook-Pro.local>
shrx <differenxe@gmail.com>
Simon Brodersen <?> sihb <sihb@5af997e4-4c3d-0410-961e-ac0512e437d9>
Simone Sturniolo <wml08325@scpc044.esc.rl.ac.uk> Simone Sturniolo <simonesturniolo@gmail.com>
Simone Sturniolo <wml08325@scpc044.esc.rl.ac.uk> Simone Sturniolo <simone.sturniolo@stfc.ac.uk>
Simone Sturniolo <wml08325@scpc044.esc.rl.ac.uk> Simone Sturniolo <wml08325@faraday.esc.rl.ac.uk>
Simone Sturniolo <wml08325@scpc044.esc.rl.ac.uk> Simone Sturniolo <wml08325@scpc044.esc.rl.ac.uk>
Simone Sturniolo <wml08325@scpc044.esc.rl.ac.uk> Simone <wml08325@scpc044.esc.rl.ac.uk>
Simone Sturniolo <wml08325@scpc044.esc.rl.ac.uk> stur86 <simonesturniolo@gmail.com>
Simone Sturniolo <wml08325@scpc044.esc.rl.ac.uk> Simone Sturniolo <simone.sturniolo@gmail.com>
Simone Sturniolo <wml08325@scpc044.esc.rl.ac.uk> stur86 <wml08325@scpc044.esc.rl.ac.uk>
Simon Rittmeyer <simon.rittmeyer@tum.de>
Steen Lysgaard <stly@dtu.dk> Steen Lysgaard <stly@surt.fysik.dtu.dk>
Steen Lysgaard <stly@dtu.dk> stly <stly@5af997e4-4c3d-0410-961e-ac0512e437d9>
Steen Lysgaard <stly@dtu.dk> stly <stly@dtu.dk>
Steen Lysgaard <stly@dtu.dk> Steen Lysgaard <stly@stly-hp-antergos.win.dtu.dk>
Sten Haastrup <sthaa@mott.fysik.dtu.dk> Sten Haastrup <sten.haastrup@gmail.com>

Tamas K. Stenczel <stenczelt@gmail.com> T. K. Stenczel <stenczelt@gmail.com>
tdd20@cam.ac.uk <tdd20@cam.ac.uk>
Thorsten Deilmann <thorsten.deilmann@uni-muenster.de> ithod <thod_@gmx.de>
Tiziano Müller <tiziano.mueller@chem.uzh.ch>
Tao Jiang <?> tjiang <tjiang@5af997e4-4c3d-0410-961e-ac0512e437d9>
Thomas Olsen <?> tolsen <tolsen@5af997e4-4c3d-0410-961e-ac0512e437d9>
Thorbjørn Skovhus <thosk@dtu.dk> tskovhus <thosk@dtu.dk>
Thorbjørn Skovhus <thosk@dtu.dk> Thorbjørn Skovhus <s134264@student.dtu.dk>
Toma Susi <toma.susi@iki.fi>
Tom Daff <tdd20@cam.ac.uk>
Tristan Maxson <tgmaxson@gmail.com> Tristan G Maxson <tgmaxson@gmail.com>
Tristan Maxson <tgmaxson@gmail.com> tgmaxson <tgmaxson@5af997e4-4c3d-0410-961e-ac0512e437d9>
Tristan Maxson <tgmaxson@gmail.com> tgmaxson <tgmaxson@gmail.com>
Tuomas Rossi <tuomas.rossi@aalto.fi>
Tuomas Rossi <tuomas.rossi@aalto.fi> Tuomas Rossi <tuomas.rossi@alumni.aalto.fi>

ycshao <shaoyecheng@zju.edu.cn>
Yingchun Zhang <yczhang@smail.nju.edu.cn>
Yinjia Zhang <yz144@login001.oscar.ccv.brown.edu>
Yunqi Shao <yunqi@kemi.uu.se>

Zhenhua Zeng <zeng46@purdue.edu> zeng <zeng@5af997e4-4c3d-0410-961e-ac0512e437d9>
